<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        Blog posts
      </h3>
      <%= link_to "Write a new blog", new_blog_path %>
      <%= paginate @blogs %>

      <%= render @blogs %>

      <%= paginate @blogs %>

    </div><!-- /.blog-main -->
  </div><!-- /.row -->

</main><!-- /.container -->